/* Navbar main div */
#navbar-main-div {
  margin: 0px;
  background-color: #1e2029;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar left side logo div */
#navbar-logo-div {
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: space-between;
}

/* Navbar logo text (Covid Tracker) */
#navbar-logo-text {
  font-size: large;
  font-weight: bold;
  color: #ef233c;
  margin-left: 5px;
}

/* Navbaar search input box div */
#navbar-search-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar search box */
#navbar-search-div > input {
  font-size: larger;
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid blue;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;
}

/* Navbar search button */
#navbar-search-div > button {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid blue;
  border-left: 0px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

#navbar-search-div > button:hover {
  background-color: #ffffff;
}

/* Navbar right side signin signup button */
#navbar-auth-side-div {
  display: flex;
  gap: 10px;
}

#navbar-auth-side-div > button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ef233c;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
/* Styles for mobiles and mobile equivalent screens */
@media only screen and (min-width: 0px) and (max-width: 415px) {
  #navbar-main-div {
    padding-left: 4px;
    padding-right: 4px;
  }

  #navbar-logo-text {
    font-size: medium;
    font-weight: bold;
    color: #ef233c;
    margin-left: 5px;
  }

  #navbar-search-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar-search-div > input {
    font-size: medium;
    font-weight: bold;
    padding: 3px 7px;
    border: 1px solid blue;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
    width: 70px;
  }

  #navbar-search-div > button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid blue;
    border-left: 0px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
  }

  #navbar-auth-side-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #navbar-auth-side-div > button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ef233c;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}
